*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbarItems{
    background: linear-gradient(90deg,rgba(161,206,181,0.219),rgba(101,170,159,0.329)100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}
.navbar-logo{
    justify-self:start;
    margin-left: 60px;
    cursor:pointer;
}
.nav-menu{
    display:flex;
    grid-template-columns: repeat(5,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 3rem;
}
.nav-links{
    color:white;
    text-decoration: none;
 
}
.nav-links:hober{
    background-color: rgb(113,163,134);
    border-radius: 60px;
    transition: all 0.2s ease-out;
}
.nav-links-addNewCost:hober{
    background-color: rgb(113,163,134);
    border-radius: 60x;
    transition: all 0.2s ease-out;
}
.nav-links-addNewCost{
    display: block;
    text-align: center;
    color:black;
    text-decoration: none;
    padding: 0.3rem 0.3rem;
    background-color:rgb(113,163,134);
    border-radius: 50px;
}
.fa-bars{
    color:white;
}
.menu-icon{
    display: block;
    position: absolute;
    top:0;
    height: 0;
    transform: translate(-100%,60%);
    font-size: 1.8rem;
    cursor: pointer;
}
